<section class="">
  <div class="col-span-2 flex flex-col gap-6 justify-start">
    <h1 class=" text-3xl font-bold">Sobre mí</h1>
    <div class="flex flex-row gap-10">
      <div class="justify-center items-center flex flex-col gap-5 text-xl">
        <p>
          Me llamo <span class="text-yellow-500">Jorge García Villa</span>.
          Desde muy pequeño me encantaba dibujar, cuando empece a programar
          siempre tuve un gusto especial por la maquetación, la estructura de la
          información y el estilo.
        </p>
        <p>
          Como programador Front-End tengo conocimientos sobre <span
            class="text-red-400">HTML</span
          >, <span class="text-blue-400">CSS</span>, <span
            class="text-yellow-400">JavaScript</span
          >, <span class="text-blue-300">TypeScript</span>, herramientas de
          Mock-ups y bocetos como Figma, además del uso de estas tecnologias
          para crear responsives websites.
        </p>
      </div>
      <div
        class="relative transition duration-500 hover:scale-105"
      >
        <img
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full scale-110 group-hover:scale-125"
          src="/yo.jpg"
          alt="Jorge Garcia Villa"
        />
      </div>
    </div>
  </div>
</section>
