---
import About from "./About.astro";
import Header from "./Header.astro";
import Sidenav from "./Sidenav.astro";
---

<main class="grid grid-cols-5 gap-5">
  <section class="col-span-12 md:col-span-2 sm:pt-48 pr-32 self-start sticky">
    <Sidenav class="" />
  </section>
  <section class="col-span-12 md:col-span-3 sm:pt-24">
    <main
      class="m-auto w-full flex flex-col gap-24 justify-start items-center sm:items-start"
    >
      <section class="md:w-1/2">
        <Header />
      </section>
      <section class="md:w-1/2">
        <About />
      </section>
    </main>
  </section>
</main>
