---
import About from "./About.astro";
import Header from "./Header.astro";
import Sidenav from "./Sidenav.astro";
import Timeline from "./Timeline.astro";
---

<main class="grid grid-cols-6 gap-16 overflow-hidden py-10 text-gray-100/90">
  <div class="sm:col-span-1"></div>
  <section class="col-span-12 md:col-span-1 sm:pt-28 self-start">
      <Sidenav class="" />
  </section>
  <section class="col-span-12 md:col-span-3">
    <main
      class="m-auto w-full flex flex-col gap-32 justify-start items-center sm:items-start overflow-y-hidden overflow-x-hidden"
    >
      <section class="mr-28">
        <Header />
      </section>
      <section class="">
        <Timeline />
      </section>
      <section>
        <About />
      </section>
    </main>
  </section>
</main>