---
import About from "./About.astro";
import Header from "./Header.astro";
import Sidenav from "./Sidenav.astro";
import Timeline from "./Timeline.astro";
---

<main class="grid grid-cols-6 gap-16 overflow-hidden py-10 text-gray-100/90">
  <div class="sm:col-span-1"></div>
  <section class="hidden lg:flex lg:col-span-1 sm:pt-28 self-start">
      <Sidenav class="" />
  </section>
  <section class="col-span-8 mx-5 md:m-10 lg:m-0 lg:col-span-3 w-full pb-24">
    <main
      class="w-full flex flex-col gap-32 justify-start items-center sm:items-start overflow-y-hidden overflow-x-hidden"
    >
      <section class="sm:mr-28">
        <Header />
      </section>
      <section class="">
        <Timeline />
      </section>
      <section>
        <About />
      </section>
    </main>
  </section>
</main>