<div class="relative flex justify-end">
  <section class="text-gray-100 inline-flex justify-end items-end fixed">
    <ul class="inline-flex flex-col p-4 gap-5 text-lg">
      <li>Sobre mí</li>
      <li>Experiencia</li>
      <li>Proyectos</li>
    </ul>
  </section>
</div>
