<section class="text-gray-100 inline-flex justify-end items-end w-full">
  <ul class="inline-flex flex-col p-4 gap-5 text-lg">
    <li>Experiencia</li>
    <li>Proyectos</li>
    <li>Sobre mí</li>
  </ul>
</section>
