<section class="text-gray-100 flex flex-col gap-6">
  <h1 class="text-gray-100 text-3xl font-bold mb-10">
    Carrera y Experiencia Laboral
  </h1>
  <ol class="relative">
    <li class="flex text-gray-100">
      <div class="flex">
        <div class="relative mx-12 pb-12 before:absolute before:left-[-33px] before:h-full before:border-l-2 before:border-white/15 before:content-['']">
          <span class="absolute -left-10 text-3xl text-yellow-800">●</span>
        </div>
        <div class="pb-20">
          <h3 class="font-bold text-2xl text-yellow-700">Developer</h3>
          <h5>BelikeSoftware / SNGULAR</h5>
          <h5>2021 - Actualmente</h5>
        </div>
      </div>
    </li>
    <li class="flex text-gray-100">
      <div class="flex">
        <div class="relative mx-12 pb-12 before:absolute before:left-[-33px] before:h-full before:border-l-2 before:border-white/15 before:content-['']">
          <span class="absolute -left-10 text-3xl text-yellow-800">●</span>
        </div>
        <div>
          <h3 class="font-bold text-2xl text-yellow-700">Developer</h3>
          <h5>BelikeSoftware / SNGULAR</h5>
          <h5>2021 - Actualmente</h5>
        </div>
      </div>
    </li>
  </ol>
</section>
