<ol class="text-gray-100">
  <li>
    <div>
      <h3>Developer</h3>
      <h5>BelikeSoftware / SNGULAR</h5>
      <h5>2021 - Actualmente</h5>
    </div>
    <div>Actua</div>
  </li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
  <li>Hola</li>
</ol>
