<section class="flex flex-col gap-6">
  <div class="flex items-center gap-3">
    <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1H5a1 1 0 0 0-1 1v12c0 .6.4 1 1 1Zm3-7h0v0h0v0Zm4 0h0v0h0v0Zm4 0h0v0h0v0Zm-8 4h0v0h0v0Zm4 0h0v0h0v0Zm4 0h0v0h0v0Z"/>
    </svg>
    <h1 class="text-3xl font-bold">Estudios y Experiencia Laboral</h1>
  </div>
  <ol class="relative">
    <li class="flex">
      <div class="flex">
        <div
          class="relative ml-10 sm:mx-12 pb-12 before:absolute before:left-[-32px] before:h-full before:border-l-2 before:border-white/15 before:content-['']"
        >
          <span class="absolute -left-10 text-3xl text-yellow-800">●</span>
        </div>
        <div class="pb-20 grid grid-cols-4 sm:grid-cols-3 items-start sm:gap-5">
          <div class="mr-5 col-span-4 lg:col-span-1">
            <h3 class="font-bold text-2xl text-yellow-700">Developer</h3>
            <h5 class="text-lg">BelikeSoftware / SNGULAR</h5>
            <h5 class="text-gray-200/50">2021 - Actualmente</h5>
          </div>
          <div class="col-span-3 lg:col-span-2">
            <p>
              Actualmente estoy desarrollando aplicaciones en <span
                class="font-semibold text-red-400/70">Angular</span
              > para la parte del frontend junto con Java <span
                class="font-semibold text-green-400">Spring Boot</span
              >. Principalmente me encargo de elaborar los diseños en Figma y
              maquetarlos junto con la funcionalidad correspondiente, tambien
              ciertos desarrollos a menos escala en la parte del Backend
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="flex">
      <div class="flex">
        <div
          class="relative ml-10 sm:mx-12 pb-12 before:absolute before:left-[-32px] before:h-full before:border-l-2 before:border-white/15 before:content-['']"
        >
          <span class="absolute -left-10 text-3xl text-yellow-800">●</span>
        </div>
        <div class="pb-20 grid grid-cols-4 sm:grid-cols-3 items-start sm:gap-5">
          <div class="mr-5 col-span-4 lg:col-span-1">
            <h3 class="font-bold text-2xl text-yellow-700">
              Desarrollo de aplicaciones web
            </h3>
            <h5 class="text-lg">CIPFP Mislata</h5>
            <h5 class="text-gray-200/50">2019 - 2021</h5>
          </div>
          <div class="col-span-3 lg:col-span-2">
            <p>
              Realice estudios de ciclo Formativo de Grado Superior de Daw con
              asignaturas como Programación ( Java, JavaScript, CSS, HTML,
              PHP...), Diseño de interfaces, Desarrollo en cliente y servidor,
              Implantación de Sistemas Operativos
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="flex">
      <div class="flex">
        <div
          class="relative ml-10 sm:mx-12 pb-12 before:absolute before:left-[-32px] before:h-full before:border-l-2 before:border-white/15 before:content-['']"
        >
          <span class="absolute -left-10 text-3xl text-yellow-800">●</span>
        </div>
        <div class="pb-20 grid grid-cols-4 sm:grid-cols-3 items-start sm:gap-5">
          <div class="mr-5 col-span-4 lg:col-span-1">
            <h3 class="font-bold text-2xl text-yellow-700">
              Administración de sistemas informáticos en red
            </h3>
            <h5 class="text-lg">CIPFP Mislata</h5>
            <h5 class="text-gray-200/50">2017 - 2019</h5>
          </div>
          <div class="col-span-3 lg:col-span-2">
            <p>
              Realice estudios de ciclo Formativo de Grado Superior de ASIR,
              donde estudie Gestión de Bases de Datos, Seguridad y Alta
              disponibilidad, Hardware, Planificación y Administración de
              Redes...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="flex">
      <div class="flex">
        <div
          class="relative ml-10 sm:mx-12 before:absolute before:left-[-32px] before:h-full before:border-l-2 before:border-white/15 before:content-['']"
        >
          <span class="absolute -left-10 text-3xl text-yellow-800">●</span>
        </div>
        <div class="pb-20 grid grid-cols-4 sm:grid-cols-3 items-start sm:gap-5">
          <div class="mr-5 col-span-4 lg:col-span-1">
            <h3 class="font-bold text-2xl text-yellow-700">
              Bachillerato Tecnología/Técnico Industrial
            </h3>
            <h5 class="text-lg">IES Pere Boïl Manises</h5>
            <h5 class="text-gray-200/50">2014 - 2017</h5>
          </div>
          <div class="col-span-3 lg:col-span-2">
            <p>
              Estudie bachillero tecnológico con asignaturas como Tecnología,
              Física, Matemáticas, Dibujo técnico y diferentes lenguas como
              Inglés, Valenciá...
            </p>
          </div>
        </div>
      </div>
    </li>
  </ol>
</section>
